$background:#ffffff;
$button    :#ee7c0d;
$ttitle    : #000000;
$paragraph :#616161;

* {
    margin         : 0;
    box-sizing     : border-box;
    padding        : 0;
    list-style     : none;
    text-decoration: none;
    font-family    : 'Manrope', sans-serif;
}

body {
    background-color: $background;
}

html {
    font-size: 62.5%;
}

#nav{
    display: none;
}